<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-5">
						<div class="container text-center">
							<div th:if="${session.message}" 
								 th:classappend="${session.message.type}" 
							 	 class="alert" 
							 	 role="alert">
						  <p th:text="${session.message.content}"></p>
 					 <!--<th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
						</div>
						</div>
					
					
						<div class="container text-center">
							<img alt="" class="img-fluid" style="width: 100px;height:auto;"
						 			th:src="@{/image/registerimage.png}">
						</div>
						
						<h1 class="text-center">Register Here</h1>

						<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
							<div class="form-group mt-2">
								<label for="name" class="form-label">Your Name</label> 
									
								<input 
									type="text" 
									name="name"
									th:value="${user.name}"
									th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}"
									class="form-control "
									id="name" 
									placeholder="Enter your Name here"
									aria-describedby="emailHelp"
									required>
									
									 <div class="invalid-feedback" th:each="e: ${#fields.errors('name')}" 
									 							   th:text="${e}" >
								      	
								    </div>
							</div>
							<div class="form-group mt-2">
								<label for="email" class="form-label">Your Email</label> 
									
								<input 
									type="email" 
									name="email"
									th:value="${user.email}"
									class="form-control"
									id="email" 
									placeholder="Enter your Email here"
									aria-describedby="emailHelp">
								
							</div>
							<div class="form-group mt-2">
								<label for="password" class="form-label">Your Password</label> 
									
								<input 
									type="password" 
									name="password"
									class="form-control"
									id="password" 
									placeholder="Enter your Password here"
									aria-describedby="emailHelp">
								
							</div>
							<div class="form-group mt-2">
								<label for="about" class="form-label">Description</label> 
								<textarea 
									name="about" 
									th:value="${user.about}"
									id="about" 
									rows="10" 
									class="form-control"
									placeholder="Enter something about"></textarea>
							</div>
							<div class="form-group">
								<input 
									type="checkbox"
									name="agreement"
									class="form-check-input"
									id="agreement" />
								<label for="agreement">Accept terms and conditions</label>
							</div>
							<div class="container mt-2 text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning text-white">Reset</button>
							</div>
							
							
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>